@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    scroll-behavior: smooth;
    background-color: #d2ecf9;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.checkout {
    display: flex;
    flex-direction: row;
}

.Order {
    background-color: rgba(31, 96, 139, 0.1);
    width: 550px;
    height: 1000px;
}

.order_sum {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.summ h1 {
    text-align: left;
    color: #1F5F8B;
    font-weight: 500;
    font-size: 40px;
    border-bottom: 1px solid rgba(31, 95, 139, 0.3);
}

.summ_container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.summ_container h1 {
    text-align: left;
    color: #1F5F8B;
    font-weight: 400;
    font-size: 35px;
}

.summ_container p {
    text-align: left;
    color: #1891AC;
    font-weight: 400;
    font-size: 35px;
}

.promo-bar input {
    margin-top: 10px;
    background: transparent;
    border: 2px solid #1891AC;
    font-size: 18px;
    margin-right: 0;
    outline: none;
    color: #1891AC;
    width: 300px;
    height: 50px;
    position: relative;
    padding-left: 10px;
}

.promo-bar input:focus::placeholder {
    color: transparent;
}

.promo-bar input::placeholder {
    color: #1891AC;
    font-size: 18px;
    opacity: 0.7;
    font-weight: 400;
}

.promo-bar button {
    margin-top: 10px;
    display: inline;
    min-width: 80px;
    height: 50px;
    position: absolute;
    border: none;
    font-size: 21px;
    font-weight: 500;
    background-color: #1891AC;
    color: #d2ecf9;
}

.custom_select select {
    margin-top: 10px;
    width: 250px;
    height: 50px;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: #d2ecf9;
    background: linear-gradient(90deg, #1F5F8B, #1891AC);
    border-radius: 15px;
    border-color: transparent;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

select:focus>option:checked {
    background-color: #15788f !important;
}

option {
    background: #1891AC !important;
    color: #d2ecf9 !important;
}

.checkout_btn {
    margin-top: 30px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(90deg, #1F5F8B 0%, #1891AC 100%);
    border-radius: 25px;
    border: none;
    font-weight: 450;
    font-size: 40px;
    color: #d2ecf9;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.total {
    margin-top: 50px;
    border-top: 1px solid rgba(31, 95, 139, 0.3);
}

.total_info {
    display: flex;
    flex-direction: row;
}

.total_info p {
    margin-left: auto;
}

.card_details {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.card_details h1 {
    text-align: left;
    color: #1F5F8B;
    font-weight: 500;
    font-size: 40px;
    border-bottom: 1px solid rgba(31, 95, 139, 0.3);
}

.card_container img {
    width: 95%;
    height: 95%;
    margin-top: 60px;
    margin-left: 16.5px;
    position: relative;
}

.card_container input {
    background: transparent;
    border: transparent;
    font-size: 30px;
    
    text-align: center;
    color: #d2ecf9;
}
.card_container  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .card_container  input:focus{
    outline: none;
  }
.card_container input:focus::placeholder{
    color: transparent;
}

.card_container input::placeholder{
    color: #d2ecf9;
}
.card_num{
    position: absolute;
    
    top: 530px;
    left: 110px;
}
.card_container .name{

    position: absolute;
    top: 600px;
    left: 110px;
}
.card_container .exp{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 700px;
    left: 450px;
}
.card_container .exp label{
    padding-left: 25px;
}
.card_container .exp input{
    width: 300px;
    color-scheme: dark;
}

.card_container label {
    color: #d2ecf9;
    font-size: 25px;
}

.name input {
    text-align: left;
}

.cvc input {
    text-align: left;
}
.card_container .cvc{
    position: absolute;
    top: 770px;
    left: 880px;
}