.book_desc {
  background: #d2ecf9;
  padding: 100px 10%;

  display: flex;
  flex-direction: column;
}
.product_main {
  display: grid;
  height: 60vh;
  grid-template-columns: 30% 70%;
}
.product_main_image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
}
.product_main_image img {
  width: 100%;
  height: 100%;
}
.product_main_interface {
  display: flex;
  padding: 10px 50px;

  flex-direction: column;
  align-items: flex-start;
}
.book_desc h1 {
  font-size: 42px;
  color: #1891ac;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 30px;
}

.book_desc p {
  color: #1891ac;
  font-weight: 300;
  font-size: 20px;
}
.product_main_interface #price {
  color: #1891ac;
  font-weight: 500;
  font-size: 34px;
  margin: 50px 0;
}
.product_buttons {
  display: flex;
  width: 65%;
  flex-direction: row;
  justify-content: space-between;
}
.product_buttons button {
  padding: 20px 40px;
  border-radius: 15px;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg, #1891ac, #188fab, #1a84a4, #1c779b);
  color: #d2ecf9;
}
.product_description {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  align-items: flex-start;
}
.slide_section {
  background-color: #d2ecf9;
}
#similar_books_h1 {
  font-size: 46px;
  text-align: center;
  padding-top: 50px;
  font-weight: 500;
  color: #1f5f8b;
  text-transform: uppercase;
}
#similar_books_p{
  text-align: center;
  font-weight: 600;
  font-size: 82px;
  line-height: 64px;
  color: #1f5f8b;
  opacity: 0.2;
}
.slide_section_main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.slider{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 100px;
}

.slide_section2 {
  position: relative;
  max-width: 1300px;
  width: 100%;
  height: 600px;
  padding: 50px 0;
  overflow: hidden;
}
