* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}
.search_container{
  background-color: #d2ecf9;
  display: flex;
  flex-direction: row;
  padding: 30px;
}
.search_container .search_filters{
  width: 25%;
  display: flex;
  flex-direction: column;
  
}
.search_container .search_filters .filter-button{
  
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg,#1F5F8B,#1891AC);
  width: 250px;
  height: 50px;
  border-radius: 15px;
  margin-bottom: 30px;
}
.custom_select select {
  margin-top: 10px;
  width: 250px;
  height: 50px;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  color: #d2ecf9;
  background: linear-gradient(90deg, #1F5F8B, #1891AC);
  border-radius: 15px;
  border-color: transparent;
  /* position: relative; */
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}


select:focus>option:checked {
  
  background-color: #15788f !important;
}

option {
  background: #1891AC !important;
  color: #d2ecf9 !important;
}
.search_container .search_books{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0px 120px;
}
